{% extends 'dashboard_base.html' %}
{% block content %}
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-10 col-7">
                        <h6 class="h2 text-white">
                            <div class="alert alert-info" id="wait_info" style="display: none;">
                                <strong>Info! </strong>Please wait while your files are being parsed!!
                            </div>
                            <div class="alert alert-success" id="success_msg" style="display: none;">
                                <strong>Success! </strong>CSV created successfully!!
                            </div>
                            <div class="alert alert-warning" id="server_error" style="display: none;">

                            </div>
                            Select Folder Location where source pdf or doc files are stored on you system
                        </h6>
                    </div>
                </div>
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <!-- <input type="file" id="browse-btn" webkitdirectory multiple hidden/> -->
                        <input type="file" name="myFiles" id="upload_file" data-csrf-token="{{ csrf_token }}" accept=".pdf,.doc,.docx" multiple enctype="multipart/form-data">
                        <!-- <label for="browse-btn">
                            <span class="btn btn-secondary btn-lg">Folder Location</span>
                        </label> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block in_file_js %}
 <script type="text/javascript" src="/static/assets/js/constants.js"></script>
    <script type="text/javascript">
        $("#upload_file").change(function() {
          $("#wait_info").show();
          var data = new FormData();
          $.each($("#upload_file")[0].files, function(i, file) {
            data.append("file", file);
          });
          data.append("csrfmiddlewaretoken", $(this).attr("data-csrf-token"));
          data.append("user_unique_key", user_unique_key);
          $.ajax({
            type: 'POST',
            url: document_parser_api.document_parser,
            data: data,
            cache: false,
            contentType: false,
            dataType    : 'json',
            processData: false,
            success: function(response) {    
            console.log('data',response)
            if(response.status == 'success'){
                $("#wait_info").hide();
                $("#success_msg").show().delay(5000).fadeOut();
            }else{
                $("#wait_info").hide();
                $('#server_error').html(response.message);
                $("#server_error").show().delay(5000).fadeOut();
            }
         },
         failure: function(data) { 
             alert('Got an error dude');
         }
          });

    });
</script>
{% endblock %}
