{% extends 'auth_base.html' %}
{% block content %}
    <div class="bg-default">
        <!-- Main content -->
        <div class="main-content">
            <!-- Header -->
            <div class="header bg-gradient-primary py-7">
                <div class="container">
                    <div class="header-body text-center mb-7">
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                                <h1 class="text-white">Reset Password</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator separator-bottom separator-skew zindex-100">
                    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                    </svg>
                </div>
            </div>
            <!-- Page content -->
            <div class="container mt--8 pb-5">
                <!-- Table -->
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="card bg-secondary border-0">
                            <div class="card-body px-lg-5 py-lg-5">
                                <form role="form">
                                    <div class="alert alert-success" id="change_success" style="display: none;">
                                        <strong>Success! </strong>Your password has been updated successfully!!Now you can <a href="/">login!</a>
                                    </div>
                                    <div class="alert alert-danger" id="empty_fields_error" style="display: none;">
                                        <strong>Error! </strong>All the fields are required!!
                                    </div>
                                    <div class="alert alert-warning" id="password_length_error" style="display: none;">
                                        <strong>Warning! </strong>Password should be of minimum 8 characters!!
                                    </div>
                                    <div class="alert alert-warning" id="password_mismatch_error" style="display: none;">
                                        <strong>Warning! </strong>Password and Confirm password mismatch!!
                                    </div>
                                    <div class="alert alert-warning" id="server_error" style="display: none;">
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Password" type="password" id="reset_password">
                                        </div>
                                    </div>
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Confirm Password" type="password" id="reset_cnf_password">
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary mt-4" id="password_reset_button">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
  <script src="/static/assets/js/user_auth.js"></script>
  <script src="/static/assets/js/constants.js"></script>
{% endblock %}