{% extends 'auth_base.html' %}
{% block content %}
  <div class="bg-default">
    <!-- Main content -->
    <div class="main-content">
      <!-- Header -->
      <div class="header bg-gradient-primary py-7">
        <div class="container">
          <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
              <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                <h1 class="text-white">Select Services!</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </div>
      <!-- Page content -->
      <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary border-0 mb-0">
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                    <div class="text-muted text-center mt-2 mb-3">What services would you like attached to your account?</div>
                </div>
                <form role="form">
                  <div class="alert alert-danger" id="empty_fields_error" style="display: none;">
                    <strong>Error! </strong>Please select atleast one option
                  </div>
                  <div class="alert alert-warning" id="server_error" style="display: none;">
                  </div>
                  <div class="form-group mb-3">
                    <div class="">
					    <input type="checkbox" name="service_name" id="hyperion" value="Hyperion">
					    <label class="" for="defaultUnchecked">Hyperion</label>
					</div><br>

					<div class="">
					    <input type="checkbox" name="service_name" id="autoML" value="AutoML">
					    <label class=""  for="defaultUnchecked">AutoML</label>
					</div>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary my-4" id="service_selection">Next</button>
                  </div>
                </form>
              </div>
            </div>
 
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block extra_js %}
  <script src="/static/assets/js/user_auth.js"></script>
  <script src="/static/assets/js/constants.js"></script>
{% endblock %}
